<div class="container">
  <h1>Tech Challenge</h1>
  <h2>Problem</h2>
  <blockquote>
  <p>Rentify advertises properties to rent. Sometimes when a user enquires about a
    property it has already been rented out. When this happens we want to show that
    user properties which are similar.<br/>
    <br/>
    For a property to be similar it must be no more than 20km away and must not have
    less bedrooms. Similar properties should be ordered by distance.<br/>
    <br/>
    Rentify has a list of Property objects. Every Property has the attributes name,
    bedroom_count, latitude and longitude.<br/>
    <br/>
    Make a program to find similar properties. <br/>
    Requirements:<br/>
    <br/>
    1. Search for property<br/>
    2. List similar properties<br/>
    3. Post your finished project on github<br/>
    </p>
    </blockquote>
</div>
