<div class="container">
  <div class="hero-unit">
    <img src="http://f.cl.ly/items/1R1J2X3Y362b0L132T3X/houses.png" class="img-rounded">
    <h1>Rentify Property Search</h1>
    <p class="lead">Please use the above menu items to perform a <a href='/search'>Search</a> or look at the <a href='/map'>Map</a>.</p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Tech Challenge</h2>
      <p>This is a programming exercise for a job application to Rentify.</p>
      <p><a class="btn" href="/about">About &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Code</h2>
      <p>The code for this can be found up on GitHub.</p>
      <p><a class="btn" href="https://github.com/IanVaughan/rentify">Show me! &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Me</h2>
      <p>Please have a look around, and ping me any questions or queries you have.<br>
        e:<a href="mailto:emailme@ianvaughan.co.uk?Subject=Rentify%20App">emailme@ianvaughan.co.uk</a><br/>
        t:<a href='https://twitter.com/IanVaughan'>@IanVaughan</a><br/>
      </p>
    </div>
  </div>
  <hr>
</div>
