<h2><%= property.name %></h2>
<ul>
  <li>Bedrooms: <%= property.bedroom_count %></li>
</ul>

<br/><br/>
<% if others.empty? %>
There are no other properties nearby!
<% else %>
These are close and available :

<%= erb :property_table,
        :layout => false,
        :locals => {
          properties: others,
          distance_from: property,
          distance: 1
        } %>

<% end %>
