<table class="table table-hover">
  <tr>
    <td>id</td>
    <td>Name</td>
    <td>Bedrooms</td>
    <% unless distance.nil? %>
      <td>Distance</td>
    <% end %>
  </tr>

  <% properties.each do |property| %>
    <%= erb :property,
            :layout => false,
            :locals => {
              property: property,
              distance: distance.nil? ? nil : distance_from.distance_to(property).round(2)
            } %>
  <% end %>
</table>
