<h2>Search</h2>

<form action="/search" method="get">
  <label for="search_name">Search for:</label>
  <input id="search_name" name="name" type="text" value="<%= last_search('name') %>" />

  <label for="search_room">Rooms</label>
  <input id="search_room" name="bedroom_count" value="2" />

  <label for="search_distance">Include others within</label>
  <input id="search_distance" name="distance" value="20" />

  <input type="submit" value="Go Search" />
</form>

<br/>
<br/>

<%= erb :property_table,
        :layout => false,
        :locals => {
          properties: properties,
          distance: nil,
          others: nil
        } %>
